{% extends '_base.html' %}


{% load crispy_forms_tags %}

{% block page_title %}
    لیست کتاب ها
{% endblock %}

{% block content %}
    {% for book in books %}
        <br>
        <br><br>

        <a href="{{ book.get_absolute_url }}"><h1>{{ book.title }}</h1></a>
        <h3>{{ book.description }}</h3>
        <h4>{{ book.author }}</h4>

{#        <a href="{% url 'book_update' pk=book.pk %}">ویرایش</a>#}
{#        <a  href="{% url 'book_delete' pk=book.pk %}">حذف</a>#}
        <button class="btn-warning"> <a href="{% url 'book_update'  pk=book.pk%}">ویرایش</a></button>
        <button class="btn-danger"> <a href="{% url 'book_delete'  pk=book.pk%}">حذف</a></button>
        <br>
    {% endfor %}
 <br>
     <br>
     <br>
    <button><a href="{% url 'book_create' %}">افزودن کتاب</a></button>

{% endblock %}